 .switch{
    width: 100px;
    height: 45px;
    display: block;
    border-radius: 35px;
    position: relative;
    background-color: $primary-green;
    box-shadow: $box-shadow;
    z-index: 20;
        @media only screen and (max-width:$second-small-bp){
            grid-row: 2;
        }
  }
 .switch-box{
      opacity: 0;
  }

  .round{
      background-color: $white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: absolute;
      top: 5%;
      left: 5%;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  
  }
  .switch-box:checked + .round{
      transform: translateX(52px);
      transition: all 1s ease;
  }
